body {
    font-family: cursive;
    background-color: white;
   
    
}

aside {
    border-right: 2px solid black;
    display: inline-block;
    width: 15%;
    

}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav {
    display: flex;
    /* flex-direction: flex-end;
    justify-content: space-between;
    width: 200px;
    align-items: flex-end;
    float: right; */
    flex-direction: row;
    flex-wrap: wrap;
    
}
.inline{
    display: inline;
}

li {
    display: inline-block;
    list-style: none;
    
}

.text {
    text-align: center;
}

.main-image{
    background:url("../StunningBeach-CanvaBanner.png");
    background-size: cover;
    height: 150px;
    width: 100%; 
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center; 
}
.subtitle{
   margin: 0;
   font-size: 30px;
   
}



/*chad helped me below*/

section,footer {
    display: inline-block;
    flex-direction: row;
    height: 300px;
    margin-left: 20px;
    background: peachpuff;
    width: 80%;
  }
footer {
    height:auto;
}
